<div style="text-align: center; margin-top: 3px">
    <h4>L’entreprise groupe ADP (Aéroports de Paris) doit-elle être privatisée ou rester - mieux qu’aujourd’hui - un bien commun, une propriété publique ?</h4>
    <h5 style="margin-top: 4px">
        <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.referendum.interieur.gouv.fr/soutien/etape-1">Avec ce clic</a>,
        vous donnerez aux Français la possibilité d'en décider démocratiquement, par référendum.
    </h5>
</div>
<div style="text-align: justify"> 
<p>ADP ce n’est pas seulement des magasins Duty Free et des pistes d’envol ; ce sont en plus <b>d’immenses terrains totalisant 6 700 hectares</b> soit l’équivalent de ⅔ de la surface de la Ville de Paris sur lesquels l’acheteur privé pourrait, hélas, construire des milliers de bâtiments. </p>
<p>Ce serait la <b>plus grosse privatisation française de l’histoire</b> - la troisième au monde, et aucune privatisation d’aéroport au monde n’a jamais inclus tant de milliers d’hectares constructibles n’ayant rien à voir avec l’activité d’un aéroport. </p>
<p><b>L’enjeu est directement et d’abord écologique</b>, la lutte contre le réchauffement climatique est une urgence vitale : 
<ul>
    <li>Nous voulons pouvoir faire le choix de planifier nos transports et de limiter par exemple les vols intérieurs quand le train est disponible, ce que la privatisation rendra presque impossible.</li>
    <li>Nous voulons être les acteurs d'un engagement écologique pour empêcher la bétonisation de ces milliers d’hectares et y développer, le cas échéant, des forêts, des arbres et tout autre aménagement respectueux de l'environnement.</li>
</ul>
</p>
<p><b>L’enjeu est stratégique pour le tourisme en France</b>, pour la survie d’une compagnie nationale, Air France, pour les Français d’outre-mer et de l’étranger afin de garder des vols directs vers la France métropolitaine. Si l’entreprise qui achète ADP possède aussi l’aéroport d’Amsterdam, elle pourra décider de transférer à Amsterdam une grande partie, voire la totalité de ses vols transcontinentaux.</p>
<p><b>L’enjeu est économique</b>, car ADP rapporte aux Français près de 200 millions d’euros de dividendes chaque année. Ces recettes, en parties payées par des étrangers ou des Français usagers de l’avion, seront désormais imposées à tous les Français dont la majorité ne prennent pas l’avion.</p>
<p><b>L’enjeu est démocratique</b>, l’occasion nous est donnée d’exercer notre droit de décider, de reprendre ou perdre le contrôle d’un bien commun. 
C'est aux citoyens de se mobiliser pour répondre à ces enjeux essentiels et décider du sort d'Aéroports de Paris. 
4,7 millions de soutiens sont nécessaires.</p>
</div>
<br/>
<hr/>
<div style="text-align: center">
<p><b> Signez, et partagez ce texte autour de vous ! </b><br />
<b> Rendez-vous sur <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.referendum.interieur.gouv.fr/soutien/etape-1">le site officiel</a> pour apporter votre soutien, sous contrôle du Conseil Constitutionnel.</b></p>
</div>
<hr/>
<br/><br/>
<p>Et si vous rencontrez des difficultés pour signer, pas d'inquiétude ! Voici quelques conseils :</p>
<ul class='fa-ul'>
    <li><span class="fa-li"><i class="fa fa-check-square"></i></span>Pas de virgule entre vos prénoms, juste un espace.</li>
    <li><span class="fa-li"><i class="fa fa-check-square"></i></span>Majuscule aux prénoms.</li>
    <li><span class="fa-li"><i class="fa fa-check-square"></i></span>Majuscule et tirets à votre ville.</li>
    <li><span class="fa-li"><i class="fa fa-check-square"></i></span>C'est votre code INSEE qui s'affiche. Pas votre code postal !</li>
    <li><span class="fa-li"><i class="fa fa-check-square"></i></span>Renseignez la ville où vous êtes inscrit sur les liste électorale.<br/>Si cela bloque, copiez/collez le nom de votre ville &agrave; partir de l'info-bulle de <a href="https://www.adprip.fr/map.html">la carte adprip.fr</a>.</li>
    <li><span class="fa-li"><i class="fa fa-check-square"></i></span>En cas de doute, prenez votre carte électorale, recopiez les informations à l'identique.</li>
    <li><span class="fa-li"><i class="fa fa-check-square"></i></span>En cas d'erreur 404, réactualisez.</li>
    <li><span class="fa-li"><i class="fa fa-check-square"></i></span>En cas d'erreur du code de vérification, persévérez.</li>
    <li><span class="fa-li"><i class="fa fa-check-square"></i></span>N'&eacute;garez pas votre num&eacute;ro de r&eacute;c&eacute;piss&eacute;, il pourra &ecirc;tre utile plus tard !</li>
</ul>


Sinon, vous pouvez également vous rendre dans une des mairies enregistr&eacute;es sur la <a href="https://www.adprip.fr/map.html?mairies=1&actions=0">carte adprip.fr</a> pour d&eacute;poser votre soutien (cliquez sur les cercles bleus).
<br/><br/><br/>
