<small>
    <ul class="mb-4">
        <li>Puisque le site RIP du gouvernement n'affiche pas le numéro de d&eacute;partement pour
            les villes, les soutiens pour plusieurs villes ayant le m&ecirc;me nom sont
            estim&eacute;s proportionnellement au nombre d'&eacute;lecteurs pour le code
            insee correspondant (r&egrave;gle de trois, <a rel="nofollow noopener noreferrer" target="_blank"
                                                                          href="https://gitlab.com/pierrenn/adprip/issues/7">d&eacute;tails</a>)</li>
        <li>Certaines communes ont fusionn&eacute;es, sont devenues d&eacute;l&eacute;gu&eacute;es,
            etc... et donc les listes utilis&eacute;es par le site RIP du gouvernement ne
            correspondent plus forcement &agrave; la r&eacute;alit&eacute;. Nous avons besoin de
            trouver le nombre d'inscrit sur liste &eacute;lectorale pour ces villes. <a
                                                                                         rel="nofollow noopener noreferrer" target="_blank"
                                                                                                        href="https://gitlab.com/pierrenn/adprip/issues/26">Collaborons</a> pour avoir
                                                                                                    des donn&eacute;es r&eacute;centes, libres et d&eacute;mocratiques !</li>
        <li>Pour les villes ayant un nom identique à d'autres villes et pour lesquelles nous n'avons
            pas le nombre d'inscrits sur les listes électorales, il nous est difficile d'estimer le
            nombre de soutiens acceptés. Si la vôtre est dans ce cas, son nombre de soutiens
            acceptés est à considérer avec prudence car il est probablement surévalué.</li>
    </ul>
</small>
